/* ****** DESKTOP MEDIA QUERY ******* */


/* PROJECT PAGE DESKTOP NORMAL*/
@media (min-width: 1025px) and (max-width: 5000px) {
  div.container {
    width: 100%;
    overflow: hidden !important;
  }

  p {
   line-height: 125%;
  }
/*
  main {
    overflow: hidden;
  } */

  /* STARSTUFF DESKTOP PAGE*/

  /* HEADER DESKTOP SECTION */

  section #intro {
    width: 100%;
    margin: 0 auto;
  }

  ul .project-1 a {
    cursor: pointer;
    color: #FFFDFB;
    text-decoration: none;
    font-size: 2rem;
  }

  .logo-header {
    width: auto;
    margin-top: 2rem;
  }

  .header-content {
    margin: 0 auto;
    width: 60%;
  }

  .header-content p.header-text {
    margin: 0 auto;
  }

  .mobile-display {
    display: none;
  }

  .Starstuff-display {
    width: 100%;
    display: block;
  }

  /* INTRO DESKTOP SECTION */

  div.contact-btns1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 2rem auto 10rem auto;
  }

  div.contact-btns1 a.primary-btn {
    margin-right: 1.5rem;
    width: 30rem;
  }

  article.intro-header {
    margin: 10rem auto;
    width: 60%;
    padding: 0;
  }

  .intro-header div.content {
    padding: 0;
  }

  .intro-header div.content {
    margin-bottom: -3rem;
  }

  /* PROJECT ROLE DESKTOP INFO*/

  section.project-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
  }

  .project-info ul li{
    list-style-type: none;
  }

  h1.header-title {
    font-size: 4.5rem;
  }

  div.spec{
    margin: 0 auto;
  }

  div.design-role {
    /* padding: 0rem 3%; */
  }

  section.project-info h2.title {
    border-bottom: none;
  }

  div.design-del {
    padding: 0;
    border-right: .2rem solid #001F40;
    border-left: .2rem solid #001F40;
  }

  div.tools {
    padding: 0;
    margin: 0 auto;
    border: 1px solid black;
    border: none;
  }



  /* CHAPTER SECTION DESKTOP GENERAL*/

  ul {
    padding-top: 1rem;
  }

  .pg {
    margin: 15rem auto 0 auto;
  }

  div.content {
    width: 80%;
    margin: 0 auto;
  }

  section .pg-label {
    font-size: 3rem;
    line-height: 110%;
    padding-bottom: 1rem;
  }

  section .pg-topic {
    font-size: 2.5rem;
    line-height: 120%;
  }

  div.title-card {
    margin: 15rem auto 10rem auto;
    width: 90%;
  }

  h2.section-title {
    font-size: 3rem;
    line-height: 2rem;
    margin: 0 5rem;
    padding: 2.5rem 0 2.5rem 0rem;
  }

  .chapter {
    display: block;
    float: left;
    margin: 0;
  }

  /* CHAPTER 1 DESKTOP SECTION */


  article.challenge-intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  #chapter1 div.ch1-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #chapter1 .content {
    width: 45%;
  }

  ol li, ol span, ul li{
    font-size: 2rem;
    line-height: 120%;
  }

  #chapter1 div.ch1-content div.challenge {
    margin-left: 5rem;
    margin-top: -15rem;
  }

  #chapter1 div.ch1-content div.solution {
    margin-top: -80rem;
    margin-left: 5rem;
  }

  #chapter1 article.challenge-intro img.chapter1-image {
    width: auto;
    display: block;
    margin: -16rem auto 0 auto;
  }

  /* section#chapter1 img.chapter1-image {
    width: 23%;
    position: absolute;
    display: block;
    left: 65%;
    margin: 0 0 150% 0 ;
  } */

  section#chapter1 img.chapter1-mobile {
    display: none;
  }

  /* CHAPTER 2 DESKTOP SECTION */

  #chapter2 .chapter {
    position: relative;
    bottom: 1rem;
  }

  article.survey {
   margin-top: -5rem;
 }

 article.survey div.content {
   width: 58%;
   margin: 0 auto;
 }

  article.survey-results, article.survey-results .pg-label {
   text-align: center;
 }

 section#chapter2 div.chart-html {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 5rem auto 10rem auto;
   width: 100vw;
   background-color: #132D60;
 }

 div.chart-html div.chart-wrap {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-wrap: wrap;
   width: 90%;
 }

 div.chart-wrap div.part1-section, div.chart-wrap div.part2-section {
   width: 50%;
   margin: 0 auto;
 }

 h3.chart-title {
   font-size: 3.8rem;
   margin: 5rem auto 2rem auto;
   color: #FFFDFB;
   font-family: "Brandon Text Bold";
   line-height: 130%;
 }

 div.part1-section div.number-circlec, div.part2-section div.number-circlec {
   position: relative;
   left: 5rem;
 }

 div.part3-section div.number-circlec {
   position: relative;
   left: 5rem;
   top: -10rem;
 }

 section#chapter2 div.chart-html div.number-circlec {
   background-color: #6534FF;
   border-radius: 50%;
   margin: 0;
   color: #FFFDFB;
   width: 3.2rem;
   height: 3.2rem;
   font-family: 'Brandon Text Medium', sans-serif;
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 div.chart-html h5.p-text {
   font-size: 2.2rem;
   /* width: 85%; */
   text-align: center;
   margin: 2rem auto;
   color: #FFFDFB;
   font-family: "Brandon Text Regular";
   line-height: 130%;
   align-items: center;
 }

 div.chart-wrap div.part3-section {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 5rem auto 0 auto;
 }

 div.part3-section h5.p-text {
   width: 40%;
   text-align: left;
   margin-right: 5rem;
 }

 div.chart-html img.chart-mobile-img {
   width: 30%;
   display: flex;
   align-items: center;
   margin: -2rem auto 0 auto;
 }

 div.part2-section img.chart-mobile-img{
   width: 30%;
 }

 div.part3-section img.chart-mobile-large {
   width: 30%;
   margin: 0 auto;
 }

 div.chart-html div.partl-section {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   margin: 10rem auto 3rem auto;
   align-items: flex-start;
   justify-content: flex-start;
   width: 90%;
 }

 div.partl-section div.stat {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   width: 50%;
   padding: 0 2rem;
   margin: 0 auto 2rem auto;
 }

 div.stat h3.number-stat {
   color: #73EBE0;
   font-family: "Brandon Text Bold";
   font-size: 4rem;
   padding-bottom: 1rem;
 }

 div.partl-section h5.text-stat {
   color: #FFFDFB;
   font-family: "Brandon Text Regular";
   font-size: 1.8rem;
   line-height: 120%;
   margin: 1rem auto 3rem auto;
 }

div.callout {
   background-color: #FDE8DE;
   width: 100vw;
   border: none;
   padding: 7.5rem 0;
   margin: 7.5rem 0 0 0;
 }

 div.callout p.co-text {
   width: 42%;
   text-align: left;
   border-left: 7px solid #FFA856;
   margin: 0 auto;
   padding: 3rem 0 3rem 2rem;
   font-size: 2.1rem;
   line-height: 130%;
 }

 div.magnify {
   display: flex;
   align-items: center;
   width: 80%;
   margin: 0 auto;
 }

 .magnify .content {
   width: 50%;
   padding: 0;
   margin-right: 7rem;
 }

 .magnify img.img-frustrations {
   display: block;
   margin: 0 auto;
   width: 35%;
 }

 div.audience {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   width: 80%;
   margin: 0 auto;
 }

 .audience .content {
   width: 50%;
   padding: 0;
   margin-left: 7rem;
 }

 div.audience img.users {
   width: 35%;
   display: block;
    margin-left: 0;
 }

 div.companal {
   display: flex;
   align-items: center;
   width: 80%;
   margin: 0 auto;
 }

.companal div.content {
  width: 60%;
  padding: 0;
  margin-left: 0rem;
 }

 .companal .compimg {
   display: block;
   width: 25%;
   margin-left: 0;
 }

 .compimgh {
   display: none;
 }

 .personas .content {
   width: 55%;
   text-align: center;
   margin: 0 auto;
 }

 section.both-personas {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   margin: 5rem auto;
   width: 100%;
 }

 section.maya-persona, section.sheila-persona {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0;
   width: 50%;
 }

 .maya-persona div.motivations, .maya-persona div.frustrations {
   width: 70%;
 }

 .sheila-persona div.motivations, .sheila-persona div.frustrations {
   width: 70%;
   padding: 0;
 }

 section.both-personas img {
   width: auto;
   height: auto;
   padding: 0;
   margin: 0;
 }

 a.news-button{
   display: none;
}

 .both-personas h2{
   font-size: 3.2rem;
   line-height: 100%;
   color: #001F40;
   font-family: "Brandon Text Bold", sans-serif;
 }

 .both-personas h3{
   font-size: 2.15rem;
   line-height: 120%;
   font-family: "Brandon Text Medium", sans-serif;
 }

 section.both-personas div.pers-title {
   text-align: center;
   justify-content: center;
   padding: 3rem 0;
   width: 100%;
 }

 .vertical-line .pers-quote {
   font-size: 2rem;
   color: #FB7E6C;
 }

 .persona-quote {
   font-family: 'Brandon Text Regular Italic', cursive;
   color: #FB7E6C;
   font-size: 2rem;
 }

 .vertical-line {
   border-left: 3px solid #FB7E6C;
   display: flex;
   width: 70%;
 }

.sheila-persona .pers-title h3, .maya-persona .pers-title h3 {
  width: 100%;
}

 .maya-persona .pers-title {
   width: 100%;
   margin-left: 0rem;
 }

 /* .sheila-persona .pers-title {
   margin-left: 1rem;
 } */

 .motivations span, .frustrations span {
   font-size: 1.8rem;
   line-height: 120%;
   color: #001F40;
   font-family: "Brandon Text Bold", sans-serif;
 }


 /* a.style-button {
    font-family: 'Brandon Grotesque Black';
    font-size: 1.8rem;
    color: #1C46C5;
    display: inline-block;
    margin: 5rem auto;
    text-align: center;
  } */

 /* CHAPTER 3 DESKTOP */

#chapter3 div.content {
  width: 50%;
  margin: 0 auto;
}

 #chapter3 .chapter {
   width: auto;
   padding-bottom: 0;
   position: relative;
 }

 .pg .flows {
   text-align: center;
 }

 article.user-flow {
   margin: 0 auto;
   margin-top: -5rem;
 }

 p.text-box .quick-link:hover {
   color: #FFA856;
 }


 article.user-flow div.box-1, article.user-flow div.box-2 {
   font-size: 2.2rem;
   font-weight: 600;
   text-align: center;
   margin: 5rem auto 0 auto;
 }

 div.block .box-1, div.block .box-2 {
   display: block;
   width: 100%;
   margin: 0 auto;
 }

.box-1 h4 {
  margin-bottom: 5rem;
}

 img.flow-mobile {
   display: none;
 }

 .box-2 img.flow-2 {
   display: block;
   width: 100%;
 }

 .box-1 img.flow-1 {
   display: block;
   width: 80%;
   margin: 0 auto;
 }

/* a.style-button {
     font-family: 'Brandon Grotesque Black';
     font-size: 1.8rem;
     color: #1C46C5;
     display: inline-block;
     margin: 5rem auto;
     text-align: center;
   } */

 img.wf-sketchie {
   width: 50%;
   margin: 3px auto 0 auto;
   display: block;
 }

 .wf-images .wf-group-mobile {
   display: none;
 }

 div.wf-images {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 5rem;
 }

 .wf-images .wf-img-group {
   display: block;
   width: 105vw;
 }

 .wf-images .wf-img-1, .wf-images .wf-img-2 {
   display: block;
   width: 40%;
 }

 div.style-wrapper {
    text-align: center;
 }

 article.prototype div.content {
 }

 article.prototype a.style-button {
   margin: 7rem 0 3rem 0;
 }

  /* a.style-button {
    font-family: 'Brandon Grotesque Black';
    font-size: 1.8rem;
    color: #1C46C5;
    display: inline-block;
    margin: 5rem auto;
    text-align: center;
  } */

 .prototype .text-box a {
   color: #FB7E6C;
 }

 article.iteration-one {
   width: 70%;
 }

 div.iterations-header {
   margin-bottom: 5rem;
   text-align: center;
 }

 section.it-snippet .it-title {
   text-align: left;
   margin-left: -3rem;
 }

 div.iterations section.it-snippet {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   margin: 0 auto 15rem auto;
 }

.it-title h3.it-text {
   font-size: 2rem;
   font-weight: 600;
   padding: 0.5rem 3rem;
   display: block;
 }

 div.it-title div.number-circle {
   background-color: #6534FF;
   border-radius: 50%;
   padding: 1.5rem 0 0 0;
   margin: 0.5rem 0 0 -0.5rem;
   color: #FFFDFB;
   width: 3rem;
   height: 3rem;
   font-family: 'Brandon Text Medium', sans-serif;
   font-size: 2rem;
 }

 header.one, header.two {
   width: 60%;
 }

.first img, .second img {
   width: 30%;
   margin-left: 15rem;
   display: block;
 }

 header.three{
   width: 80%;
 }

 section.third img.last {
   width: 50%;
   position: relative;
   left: 6rem;
   display: block;
 }


 /* CHAPTER 4 DESKTOP */

 #chapter4 .pg {
   margin-top: 15rem;
 }

 #chapter4 div.content {
   width: 50%;
 }

#chapter4 .chapter {
  width: auto;
  padding-bottom: 0;
  position: relative;
  bottom: 1.5rem;
}

img.brand-header {
  width: 90%;
  margin: 0 auto;
  margin-top: -5rem;
}

div.brand-story {
  margin: -2rem auto;
}

.brand-quote img.quote-img {
  width: 9%;
  position: relative;
  right: 4.5rem;
}

div.brand-quote h2.main-quote {
  font-family: 'Brandon Text Medium Italic', cursive;
  font-size: 3rem;
  line-height: 130%;
  margin-top: 0rem;
}

.brand-quote h2.by {
  font-weight: bolder;
  padding-top: 0.5rem;
  font-size: 3rem;
  font-family: 'Brandon Text Medium Italic', cursive;
}

img.mood {
  width: 90%;
  display: block;
  margin: 5rem auto 0 auto;
}

div.logo-design {
  margin: 0 auto;
}

img.logos {
  display: block;
  margin: 5rem auto 0 auto;
  width: 90%;
}

div.color-palette {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

div.color-palette div.color {
  margin-left: 7.5rem;
  display: block;
  margin-right: 5rem;
}

div.color-palette img.color-else {
  width: 30%;
  display: block;
  margin: 0 auto;
}

section#chapter4 div.typography {
  border: 1px solid transparent;
  margin: 15rem auto 0 auto;
  width: 100%;
  padding: 0;
}

#chapter4 div.typography div.type-section {
  width: 90%;
  margin: 0 auto;
}

#chapter4 div.typography div.type-content {
  float: left;
  width: 50%;
  display: inline-block;
  margin-left: 3rem;
}

#chapter4 div.typography img.type-img {
 float: right;
 display: inline-block;
 margin: 0 12rem 0 0;
 width: 18%;
}

div.typography div.sg-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #405276;
  padding: 2rem 8rem 3rem 8rem;
  width: 100vw;
  margin: 5rem auto 0 auto;
}

div.typography div.sg-images img.sg-img {
  width: 27%;
  margin: 0 2rem 0 0;
}

div.typography div.sg-images img.sg-img2 {
  width: 27%;
  margin: 0 0 0 0;
}

div.typography div.style-wrapper {
 margin: 5rem auto -3rem auto;
 display: block;
 padding: 0;
}

.style-button {
  font-family: 'Brandon Grotesque Black';
  font-size: 1.8rem;
  text-align: center;
  color: #1C46C5;
  display: inline-block;
  margin: 5rem auto;
  cursor: pointer;
}

.style-button::after {
  content: '';
  display: block;
  width: 0;
  height: .9rem;
  border-radius: 6rem;
  background: #03E1D7;
  transition: width .3s;
}

.style-button:hover::after {
  width: 100%;
  transition: width .3s;
}

/* CHAPTER 5 DESKTOP*/

#chapter5 .chapter {
  width: 9%;
  padding-bottom: 0;
  position: relative;
  bottom: 3.5rem;
  left: 1rem;
}

#chapter5 div.content {
  width: 50%;
  margin: 15rem auto 0 auto;
}

article.hi-fi .content {
  text-align: center;
  margin-top: -5rem;
}

article.hi-fi img {
  width: 80%;
  display: block;
  margin: 5rem auto;
}

section#chapter5 article.ab div.content {
  text-align: left;
  margin: 10rem auto 5rem auto;
  color: #FFFDFB;
  padding: 5rem 0 0 0;
}

article.ab p.text-box {
  color: #FFFDFB;
}

article.ab {
  background-color: #132D60;
  width: 100vw;
  margin: 15rem auto 0 auto;
}

article.ab a {
  color: #FB7E6C;
}

article.ab a:hover {
  color: #FFA856;
}

div.test-bg {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 3rem auto 0 auto;
  background-color: #132D60;
}

div.test-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

div.screen-a-header, div.screen-b-header {
  text-align: center;
}


.test-bg img {
  width: 80%;
  margin: 0 auto;
}

div.screen-a-header h4, div.screen-b-header h4 {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 120%;
  padding: 1rem 0 0 0;
  font-family: 'Brandon Text Bold', sans-serif;
}

.test-bg h3, .test-bg h4, .test-bg p {
  color: #FFFDFB;
  font-family: 'Brandon Text Regular', sans-serif;
  font-size: 2rem;
}

.test-bg h4 {
  color: #73EBE0;
}

img.cat-test-mobile {
  display: none;
}

div.test-bg h3.category-title {
  font-size: 3.5rem;
  font-family: 'Brandon Text Bold', bold;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h3.numbers {
  font-size: 3.5rem;
  font-family: "Brandon Text Bold", sans-serif;
  margin-top: 3rem;
  padding-bottom: 1rem;
  color: #73EBE0;
}

p.screen-subtitle {
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}

p.descs {
  width: 80%;
  margin: 0 auto;
}

article.testing div.content {
  margin-bottom: 3rem;
}

article.testing {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.vid-responsive {
  display: block;
  width: 70%;
  height: 70%;
  margin-top: 5rem;
}

div.vid-responsive {
    overflow: hidden;
    padding-bottom: 25%;
    position: relative;
    padding-top: 10%;
    height:0;
}
div.vid-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

article.short {
  text-align: left;
}

article.short div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

article.icing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icing div.content {
  text-align: center;
}

/* BUTTON TEST IMAGE DESKTOP */

/* article.button-wrapper div.bt-screen img {
  display: none;
} */

section.rogue-img {
  display: flex;
  flex-direction: column;
  margin: 5rem auto 0 -1rem;
  width: 100vw;
  color: #FFFDFB;
  background-color: #132D60;
}

section.rogue-img h3.button-title {
  font-size: 3.5rem;
  font-family: "Brandon Text Bold";
  text-align: center;
  line-height: 120%;
  margin: 0 auto 1.5rem auto;
}

h4.bt-title {
  font-family: "Brandon Text Medium";
  line-height: 120%;
  font-size: 3rem;
}

section.rogue-img article.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2rem auto;
  text-align: center;
}

div.bt-screen {
  width: 50%;
  padding: 0;
  margin: 0;
}

article.button-wrapper div.bt-screen img {
  display: none;
}

article.button-wrapper p.bt-desc {
  font-family: "Brandon Text Regular";
  font-size: 2rem;
  line-height: 120%;
  color: #FFFDFB;
}

section.rogue-img .rogue-desktop {
  width: 100%;
  margin: 0 auto;
}

section.rogue-img p.test-img-text {
 margin: 2rem auto 5rem auto;
  color: #FFFDFB;
  width: 65%;
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Brandon Text Regular';
  line-height: 140%;
}

.test-img-text span {
  color: #73EBE0;
  font-size: 2.5rem;
  font-family: "Brandon Text Bold";
}

.test-img-text a {
  color: #FB7E6C;
}


/* END OF BUTTON TEST SECTION*/

/* ITERATIONS SECOND SECTION*/

section.iterations-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10rem auto;
}

header.iteration-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

header.iteration-title span.number-circle {
  background-color: #6534FF;
  border-radius: 50%;
  padding: 1.5rem 0 0 0;
  margin: 0rem 0 0 -0.5rem;
  color: #FFFDFB;
  width: 3rem;
  height: 3rem;
  font-family: 'Brandon Text Medium', sans-serif;
  font-size: 2rem;
}

header.iteration-title h3.it {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.7rem 0 0 0.5rem;
  margin-bottom: 0;
  display: block;
  text-align: left;
  width: 100%;
  font-family: "Brandon Text Medium";
}

header.iteration-title p.text-box {
  width: 80%;
  margin-left: 3.5rem;
  margin-top: -0.5rem;
  text-align: left;
}

header.iteration-title span {
  display: block;
  margin: 0 auto;
  float: left;
}

section.iterations-snippet header.iteration-title {
  width: 60%;
  margin: 0 auto;
}

section.uno img {
  width: auto;
  display: block;
}

section.uno {
  margin: 5rem auto 0 auto;
  background-color: #132D60;
}

div.iterations-list section.uno header.iteration-title {
  margin: 5rem auto 0 auto;
  color: #FFFDFB;
}

section.uno p.text-box {
  color: #FFFDFB;
  font-size: 2rem;
}

div.section-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10rem auto;
  width: 100%;
}

section.dos {
  margin-left: 2.5rem;
  width: 100%;
}

section.dos .iteration-title {
  width: 68%;
}

section.dos img {
  width: auto;
  margin: 3rem auto 0 auto;
}

section.tres {
  margin-right: 2.5rem;
  width: 100%;
}

section.tres img {
  width: 100%;
  margin: 1rem auto;
}

section.tres .iteration-title {
  width: 68%;
}

section.cuatro {
  margin: 5rem auto;
  width: 80%;
}

section.cinco , section.seis {
  width: 80%;
  margin: 15rem auto;
}

section.cuatro .vid-responsive, section.cinco .vid-responsive, section.seis .vid-responsive {
  width: 85%;
  margin-top: 2rem;
  padding-bottom: 40rem;
  margin-bottom: 0;
}

div.iterations-list section.cinco .number-circle, div.iterations-list section.seis .number-circle {
  margin: 0.5rem 1rem 0 0;
}

section.cuatro header.iteration-title, section.cinco header.iteration-title, section.seis header.iteration-title {
  width: 70%;
}


/* CHAPTER 6 DESKTOP*/
#chapter6 .chapter {
  width: 9%;
  padding-bottom: 0;
  position: relative;
  bottom: 3.5rem;
  left: 1rem;
}

article.final-p {
  margin: 0 auto;
}

article.final-p .content {
  margin-left: 13%;
  width: 35%;
  text-align: left;
}

article.final-p h2 {
  font-size: 3rem;
  text-align: left;
  font-family: "Brandon Text Bold", sans-serif;
}

article.final-p .text-box {
  font-size: 2rem;
  padding-top: 1.5rem;
  padding-left:
    text-align: left;
  font-family: 'Brandon Text Regular', sans-serif;
}

div.desktop-images-final {
  background-image: url("../images/project/background-swoop.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  top: -5rem;
}

img.mobile-bg {
  display: none;
}

div.mobile-images-final {
  display: none;
}

article.final-p div.desktop-images-final {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1700;
  padding: 0;
}

div.desktop-images-final .other-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  z-index: 1699;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

div.other-images img {
  width: 46%;
  margin: 1rem 2rem;
  padding: 0;
}

div.desktop-images-final div.mobile-desktop-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  /* display: block; */
}

div.mobile-desktop-images img.final-mobile-one {
  width: 98%;
  margin-top: 28rem;
  margin-bottom: 3rem;
  z-index: 1699;
}

 div.mobile-desktop-images img.final-mobile-two {
   width: 98%;
   margin: 0 auto;
   padding-bottom: 0.5rem;
   z-index: 1700;
   margin-bottom: 3rem;
 }

 article.final-p div.mobile-images-final {
   display: none;
 }

div.contact-btns2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 15rem auto;
  text-align: center;
  width: 100%;
}

div.contact-btns2 .primary-btn {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 30rem;
  display: inline-block;
}

#chapter6 .concl {
  width: 55%;
  margin: 0 auto 5rem auto;
}

div.key-learnings .concl-heading {
  font-family: 'Brandon Text Black', 'Brandon Text Bold', sans-serif;
  font-size: 3rem;
  line-height: 100%;
  margin-top: 5rem;
}

div.key-learnings .concl-subhead {
  font-family: 'Brandon Text Medium', 'Brandon Text Bold', sans-serif;
  font-size: 3rem;
  line-height: 120%;
}

div.test {
  margin-top: 2rem;
}

div.key-learnings .text-box {
  font-size: 2rem;
  line-height: 120%;
  margin-top: 0.5rem;
}

div.key-learnings .concl-sub {
  font-family: 'Brandon Text Medium', sans-serif;
  font-size: 3rem;
  line-height: 120%;
  margin-top: 2rem;
}

/* CONTACT DESKTOP*/

section#contact div.box1 {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 0rem;
}

div.box1 img.contact-graphic{
  width: 20%;
  margin-left: 67%;
  z-index: 1;
}


.box1 article.contact-meat {
  display: flex;
  position: relative;
  top: -9rem;
  flex-direction: column;
}

article.contact-meat div.contact-copy1  {
  text-align: left;
  width: 60rem;
  margin: 0 auto;
}

h2.contact-title1 {
  font-size: 4.3rem;
  font-family: 'Brandon Text Bold';
  line-height: 100%;
  color: #FFA856;
}


h5.contact-text {
  font-size: 2.5rem;
  line-height: 120%;
  padding-bottom: 1rem;
  margin: 0 auto;
  color: #FFA856;
}

div.contact-btns3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  text-align: center;
  width: 100%;
}

div.contact-btns3 a.primary-btn {
  margin-left: 2rem;
  width: 30rem;
  display: inline-block;
  margin-right: 2rem;
}

section#contact div.return-top {
  display: flex;
  flex-direction: column-reverse;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 1.5rem auto 0 auto;
}

.return-top i.fas {
  color: #B0F0FD;
  padding-bottom: 1rem;
}

/* FOOTER SMALL SIZE*/

footer#footer-cube  {
  margin: 0 auto -2rem auto;
  height: auto;
  display: flex;
  padding: 3rem 0;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

footer#footer-cube ul.social-media {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 35%;
  margin: 0 5% 0 0;
}

footer#footer-cube ul.social-media li {
  margin: 0 0 0 9%;
}

footer#footer-cube div.copyright {
  text-align: left;
  padding: 0;
  width: auto;
  margin-left: 5%;
}

footer#footer-cube div.copyright p {
  text-align: left;
  align-items: center;
  border: none;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 100%;
  display: block;
  font-family: "Brandon Text Regular";
}

ul.social-media i.fab, ul.social-media i.fas {
  font-size: 2.5rem;
  padding-right: 0.5rem;
  color: #001F40;
}

ul.social-media p:hover, ul.social-media i:hover {
  color: #FFFDFB;
  cursor: pointer;
}
}




@media (min-width: 1440px) and (max-width: 1699px) {
  section#chapter1 div.ch1-content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  div.block div.box-1 h4, div.block div.box-2 h4 {
    font-size: 2.4rem;
  }

    article h2.pg-label, div h3.pg-label {
    font-size: 3.3rem;
    line-height: 110%;
    padding-bottom: 1rem;
  }

  div.test-wrapper h4.a-screen, div.test-wrapper h4.b-screen {
    font-size: 3.5rem;
  }

  div.test-wrapper p.screen-subtitle {
    font-size: 2.4rem;
  }

  div.test-wrapper p.descs {
    font-size: 2.4rem;
  }

  div.test-wrapper h3.numbers {
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  article h3.pg-topic, div h3.pg-topic {
    font-size: 2.8rem;
    line-height: 120%;
  }

  section.both-personas div.vertical-line p.persona-quote {
    font-size: 2.5rem;
    line-height: 110%;
  }

  div.motivations h4 span, div.frustrations h4 span {
    font-size: 2.4rem;
  }

  div.motivations p, div.frustrations p {
    font-size: 2.3rem;
  }

  div.iterations-list section.uno header.iteration-title p.text-box {
    font-size: 2.5rem;
    margin: 0 0 0 3.6rem;
  }

  div.iterations-list header.iteration-title h3.it {
    font-size: 2.5rem;
  }

  /* CHART SECITON*/

  div.chart-html h5.p-text {
    font-size: 2.5rem;
    margin: 2rem auto;
  }

  div.chart-html h3.chart-title {
    margin: 7.5rem auto 5rem auto;
    font-size: 4rem;
  }

  div.chart-html div.chart-wrap img.chart-mobile-large {
    width: 30%;
    margin: 0 auto;
  }

  div.chart-html div.chart-wrap img.chart-mobile-img {
    margin: 0 auto;
  }


 div.chart-html div.partl-section h5.text-stat {
   font-size: 2.5rem;
   margin: 1rem auto 3rem auto;
 }


 div.part1-section div.number-circlec, div.part2-section div.number-circlec {
   position: relative;
   left: 5rem;
 }

 div.part3-section div.number-circlec {
   position: relative;
   left: 5rem;
   top: -10rem;
 }

 section#chapter2 div.chart-html div.chart-wrap div.number-circlec {
   margin: 0;
   width: 3.5rem;
   height: 3.5rem;
   font-size: 2.21rem;
 }

 /* END CHART SECTION*/

  #chapter1 .content {
    width: 45%;
  }

  div.challenge ol li {
    font-size: 2.4rem;
    padding-top: 1rem;
  }

  #chapter1 div.challenge span {
    font-size: 2.4rem;
  }


  article p, div p {
    font-size: 2.4rem;
    line-height: 120%;
  }

  div.content ul li {
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }

  section div.callout p.co-text {
    font-size: 2.5rem;
    border-left: 10px solid #FFA856;
    line-height: 120%;
    padding: 3rem 0 3rem 3rem;
  }

  #chapter1 div.ch1-content div.challenge {
    margin-left: 0rem;
    margin-top: -15rem;
    margin-right: 10rem;
  }

  #chapter1 div.ch1-content article.introduction div.solution {
    margin-top: -70rem;
    margin-left: 5rem;
  }

  /* STYLE GUIDE IMAGES*/
  section#chapter4 div.typography div.sg-images img.sg-img {
    width: 25%;
    margin: 0 2rem 0 0;
  }

  section#chapter4 div.typography div.sg-images img.sg-img2 {
    width: 25%;
  }

  section#chapter4 div.typography div.sg-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #405276;
    padding: 2rem 5rem;
    width: 100vw;
    margin: 5rem auto 0 auto;
  }

  div.desktop-images-final div.mobile-desktop-images img.final-mobile-one {
    width: 100%;
    margin-top: 35rem;
    margin-bottom: 3rem;
    z-index: 1699;
  }

  /* END OF STYLE GUIDE IMAGES*/

  article.ab div.content p.text-box {
    font-size: 2.3rem;
  }


  #chapter4 div.color-palette div.color {
    width: 45%;
  }

  div.color-palette div.content p.text-box {
    font-size: 2.4rem;
  }

  section.it-snippet div.it-title h3.it-text, section.iterations-snippet div.it-caption h3.it {
    font-size: 2.5rem;
  }

  section#chapter5 header.iteration-title p.text-box {
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  .companal div.content {
    width: 55%;
    padding: 0;
    margin-left: 0rem;
   }

   .companal .compimg {
     display: block;
     width: 20%;
     margin-right: 5rem;
   }

   .compimgh {
     display: none;
   }

  /* CONTACT DESKTOP*/

  section#contact div.box1 {
    width: 100%;
    padding:0;
    background-color: #15246D;
  }

  section#contact img.contact-graphic {
    width: 15%;
    position: relative;
    left: 0;
    margin-top: 3rem;
  }


  section#contact .box1 article.contact-meat {
    display: flex;
    position: relative;
    top: -12rem;
    flex-direction: column;
  }

  section#contact article.contact-meat div.contact-copy1 {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }


  section#contact div.contact-copy1 h2.contact-title1 {
    font-size: 5.5rem;
    padding-bottom: 1rem;
    font-family: 'Brandon Text Bold';
    line-height: 100%;
    color: #FFA856;
  }


  section#contact div.contact-copy1 h5.contact-text {
    font-size: 2.8rem;
    padding-top: 1rem;
    line-height: 120%;
    /* padding-bottom: 1rem; */
    margin: 0 auto;
    color: #FFA856;
  }

  div.contact-btns3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    text-align: center;
    width: 100%;
  }

  div.contact-btns3 a.primary-btn {
    margin-left: 2rem;
    width: 30rem;
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.8rem;
  }

  section#contact div.return-top {
    display: flex;
    flex-direction: column-reverse;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 1.5rem auto -5rem auto;
  }

  section#contact .return-top .return-link {
    margin: 0 0 1.5rem 0;
  }

  .return-top i.fas {
    color: #B0F0FD;
  }

  a.style-button {
    font-size: 2.2rem;
  }

/* CONTACT ENDS*/

  section.iterations-snippet section.rogue-img p.test-img-text {
    margin: 5rem auto;
    font-size: 2.8rem;
    line-height: 130%;
  }

  section.iterations-snippet section.rogue-img p.test-img-text span{
    font-size: 3rem;
  }

  section.iterations-snippet section.rogue-img div.bt-screen h4.bt-title{
    font-size: 3.3rem;
  }

  section.iterations-snippet section.rogue-img div.bt-screen p.bt-desc{
    font-size: 2.3rem;
  }

  section.iterations-snippet section.rogue-img h3.button-title {
    font-size: 3.8rem;
  }

  section.tres img.right-side {
    margin: 3rem auto 0 auto;
  }

  section#chapter5 div.iterations-list section.cinco .number-circle, section#chapter5 div.iterations-list section.seis .number-circle {
    margin: 1rem 1rem 0 0;
  }

  /* FOOTER*/

  footer#footer-cube{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: #FB7E6C;
    margin: 0;
    height: 18rem;
  }

  footer#footer-cube ul.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: -9rem 1% 0 0 ;
    padding: 0;
  }

  ul.social-media li {
    margin: 0 0 0 8%;
  }

  footer#footer-cube ul.social-media i.fab, footer#footer-cube ul.social-media i.fas{
    font-size: 2.8rem;
    padding-right: 0.5rem;
    color: #001F40;
  }

  ul.social-media p:hover, ul.social-media i:hover {
    color: #FFFDFB;
    cursor: pointer;
  }

  footer#footer-cube div.copyright {
    text-align: left;
    padding: 0;
    width: auto;
    margin: -9rem 0 0 5%;
  }

  footer#footer-cube div.copyright p {
    padding: 0;
    font-size: 2rem;
    font-family: "Brandon Text Regular";
   }
}

    @media (min-width: 1700px) and (max-width: 2299px) {
      p {
        font-size: 2.7rem;
        line-height: 120%;
      }

      div.title-card {
        margin: 25rem auto 15rem auto;
        width: 90%;
      }

      section div.callout p.co-text {
        font-size: 3rem;
        border-left: 10px solid #FFA856;
        line-height: 120%;
        padding: 3rem 0 3rem 3rem;
      }

      #chapter1 img.chapter1-image {
        width: auto;
        margin: -16rem auto 0 auto;
      }

      /* STYLE GUIDE SECTION*/

      section#chapter4 div.typography div.sg-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #405276;
        padding: 2rem 10rem;
        width: 100vw;
        margin: 0 auto;
      }

      section#chapter4 div.typography img.type-img {
       float: right;
       display: inline-block;
       margin: 0 12rem 10rem 0;
       width: 18%;
      }

      div.typography div.sg-images img.sg-img {
        width: 27%;
        margin: 0 2rem 0 0;
        display: block;
      }

      section#chapter4 div.typography div.sg-images img.sg-img2 {
        width: 27%;
        display: block;
        margin: 0 0 0 0;
      }

      /* SG END*/


      section h2.pg-label {
        font-size: 4rem;
        line-height: 110%;
      }

      section h3.pg-topic {
        font-size: 3.5rem;
        line-height: 100%;
      }

      h1 {
        font-size: 4.5rem;
      }

      article.intro-header div.contact-btns1 {
       margin: 3rem auto 5rem auto;
       width: 100%;
     }

      article.intro-header div.contact-btns1 a.primary-btn {
        width: 40rem;
        height: 6.3rem;
        padding: 2.5rem 0 0 0;
        font-size: 2.3rem;
     }

     section.project-info ul li {
       font-size: 2.5rem;
     }

     section.project-info h2.title {
       font-size: 3.5rem;
     }

     article.ab div.content p.text-box {
       font-size: 2.7rem;
       line-height: 120%;
     }

     div.test-bg div.test-wrapper p.screen-subtitle {
       font-size: 3rem;
     }

     article.ab div.test-bg h3.category-title {
       font-size: 4.5rem;
       margin: 1rem 0 -2rem 0;
     }

     div.test-bg div.test-wrapper h4.a-screen, div.test-bg div.test-wrapper h4.b-screen {
       font-size: 4rem;
     }

     div.test-bg div.test-wrapper h3.numbers {
       font-size: 4.5rem;
       padding: 1rem 0 1rem 0;
     }

     div.test-bg div.test-wrapper p.descs {
       font-size: 2.5rem;
       padding-top: 1rem;
     }

     article.testing div.content ul li {
       font-size: 2.7rem;
     }

     /*chart section*/

     section#chapter2 div.chart-html h5.p-text {
       font-size: 2.5rem;
       margin: 2rem auto;
     }

     div.chart-html h3.chart-title {
       margin: 7.5rem auto 5rem auto;
       font-size: 4rem;
     }

     div.chart-html div.chart-wrap img.chart-mobile-large {
       width: 30%;
     }


    div.chart-html div.partl-section h5.text-stat {
      font-size: 3rem;
      margin: 1rem auto 3rem auto;
    }

    div.chart-html div.partl-section h3.number-stat {
      font-size: 4.8rem;
    }

    div.part1-section div.number-circlec, div.part2-section div.number-circlec {
      position: relative;
      left: 5rem;
    }

    div.part3-section div.number-circlec {
      position: relative;
      left: 5rem;
      top: -10rem;
    }

    section#chapter2 div.chart-html div.chart-wrap div.number-circlec {
      margin: 0;
      width: 4.5rem;
      height: 4.5rem;
      font-size: 2.7rem;
    }

     section.project-info img {
       width: 20%;
     }

     section.project-info div.design-del img {
       width: 15%;
     }

     section.project-info div.design-del h2.title {
       padding-top: 0.1rem;
     }

      div.contact-btns2 {
       margin: 3rem auto 0 auto;
       width: 100%;
     }

      div.contact-btns2 a.primary-btn {
        width: 40rem;
        height: 6.3rem;
        padding: 2.5rem 0 0 0;
        font-size: 2.3rem;
     }

      section#chapter1 div.content ol span, div.content ol li, div.content ul li{
        font-size: 2.5rem;
        line-height: 120%;
      }

      section#chapter1 div.ch1-content div.solution {
        margin-top: -77rem;
      }

      section div.title-card h2.section-title {
        font-size: 3.6rem;
      }

      .companal div.content {
        width: 55%;
        padding: 0;
        margin-left: 0rem;
       }

       .companal .compimg {
         display: block;
         width: 20%;
         margin-right: 5rem;
       }

       .compimgh {
         display: none;
       }

      section div.title-card img.chapter {
        width: 6%;
        margin-top: -1.3rem;
      }

      div.brand-story div.brand-quote h2.main-quote {
        font-size: 4rem;
      }

      div.brand-story div.brand-quote h2.by {
        font-size: 4rem;
      }

      div.brand-story div.brand-quote img.quote-img {
        width: 10%;
        padding-right: 1rem;
      }

      section#chapter4 div.title-card img.chapter {
        width: 6%;
        margin: 0 0.3rem 0 0;
      }

      section.both-personas div.vertical-line span.pers-quote, section.both-personas p.persona-quote i span {
        font-size: 3.5rem;
      }

      section.both-personas div.vertical-line p.persona-quote {
        font-size: 3rem;
        line-height: 110%;
      }

      div.motivations h4 span, div.frustrations h4 span {
        font-size: 2.5rem;
      }

      article.person section.both-personas {
        width: 80%;
      }

      section.maya-persona, section.sheila-persona {
        width: 50%;
        margin: 0 auto;
      }

      div.pers-title h2 {
        font-size: 3.5rem;
      }

      div.pers-title h3 {
        font-size: 2.5rem;
      }

      a.style-button {
        font-size: 2.4rem;
      }

      div.block h4 {
        font-size: 2.7rem;
      }

      header.it-list h3.it-text {
        font-size: 2.7rem;
      }

      section.it-snippet div.it-title div.number-circle {
        padding: 1.8rem 0 0 0;
        margin: 0.3rem 0.5rem 0 0rem;
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2.5rem;
      }

      header.three div.it-title div.number-circle {
        width: 3.8rem;
        padding-top: 1.9rem;
        font-size: 2.5rem;
        height: 3.8rem;
      }

      #chapter4 div.color-palette {
        width: 90%;
      }

      #chapter4 div.color-palette div.color {
        width: 45%;
      }

      #chapter4 div.typography {
        display: block;
        margin: 15rem auto;
        width: 90%;
      }

      #chapter4 div.typography div.type-content {
        float: left;
        margin-left: 12rem;
        width: 40%;
        display: inline-block;
      }

     #chapter4 div.typography img.type-img {
       float: right;
       display: inline-block;
       margin: 0 25rem 0 0;
       width: 18%;
     }

     #chapter4 div.typography div.style-wrapper {
       margin: 5rem auto;
     }

     div.iterations-list div.it-caption h3.it {
       font-size: 2.7rem;
       width: 100%;
       padding: 1.5rem 0 0 0;
     }

     div.iterations-list header.iteration-title span.number-circlec {
       background-color: #6534FF;
       border-radius: 50%;
       padding: 1.9rem 0 0 0;
       margin: 0.3rem 0.5rem 0 -0.5rem;
       color: #FFFDFB;
       width: 3.8rem;
       height: 3.8rem;
       font-family: 'Brandon Text Medium', sans-serif;
       font-size: 2.5rem;
     }

     div.iterations-list section.cuatro, div.iterations-list section.cinco, div.iterations-list section.seis  {
       width: 80%;
     }

     div.iterations-list section.cuatro p.text-box, div.iterations-list section.cinco p.text-box, div.iterations-list section.seis p.text-box  {
       width: 90%;
     }

     div.iterations-list section.cinco, div.iterations-list section.seis {
       margin: 15rem auto 0 auto;
     }

     div.iterations-list section.seis {
       margin-bottom: 15rem;
     }

     div.iterations-list section.iterations-snippet header.iteration-title {
       width: 80rem;
     }

     div.iterations-list section.iterations-snippet p.text-box {
       padding: 0;
     }

     div.iterations-list header.iteration-title p.text-box {
       font-size: 2.7rem;
       margin: 0 0 0 4rem;
     }

     div.iterations-list section.uno header.iteration-title {
       font-size: 2.7rem;
       margin: 0 0 5rem 0;
       width: 100rem;
       display: block;
       float: left;
     }


     section#chapter5 div.iterations-list section.cinco .number-circle, section#chapter5 div.iterations-list section.seis .number-circle {
       margin: 1.5rem 1rem 0 0;
     }

     article.concl h3.concl-heading, article.final-p div.content h2 {
       font-size: 3.5rem;
       padding-bottom: 0.5rem;
     }

     article.concl h3.concl-subhead,  article.concl h3.concl-sub {
       font-size: 3rem;
     }

     article.concl div.content  {
       margin: 15rem auto 0 auto;
     }

     article.concl p.text-box {
       font-size: 2.7rem;
     }

     article.final-p p.text-box {
       font-size: 2.7rem;
     }

     section.iterations-snippet section.rogue-img p.test-img-text {
       margin: 5rem auto;
       font-size: 3.2rem;
       line-height: 130%;
     }

     header.iteration-title div.it-caption {
       margin: 0 0 1rem 0;
     }



     section.iterations-snippet header.iteration-title p.text-box {
       margin: 0 0 0 4rem;
     }

     section.tres img.right-side {
       margin: 3rem auto 0 auto;
     }

     section.iterations-snippet p.text-box {
       font-size: 2.5rem;
     }

     section.iterations-snippet header.iteration-title span.number-circle {
       margin: 0.5rem 1rem 0 0;
     }

     section.iterations-snippet section.rogue-img p.test-img-text span {
       font-size: 3.5rem;
     }

     section.iterations-snippet section.rogue-img div.bt-screen h4.bt-title{
       font-size: 3.5rem;
     }

     section.iterations-snippet section.rogue-img div.bt-screen p.bt-desc{
       font-size: 2.7rem;
     }

     section.iterations-snippet section.rogue-img h3.button-title {
       font-size: 4.3rem;
     }

     section#contact div.contact-copy1 h2.contact-title1 {
       font-size: 6rem;
       padding-bottom: 1rem;
     }

     section#contact div.contact-copy1 h5.contact-text {
       font-size: 3.2rem;
       padding-top: 1rem;
   }

     section#contact article.contact-meat div.contact-copy1 {
       width: 80rem;
       margin: -10rem auto 0 auto;
     }

     section#contact img.contact-graphic {
       width: 16%;
       position: relative;
       left: 3%;
       margin-top: 2rem;
     }

     section#contact {
       padding: 0;
     }

     section#contact div.return-top a.return-link {
       margin: 0 auto -2rem auto;
       font-size: 2.8rem;
     }

     section#contact div.return-top i.fas {
       font-size: 3rem;
       padding-bottom: 1rem;
     }

     section#contact div.contact-btns3 {
      margin: 3rem auto 2rem auto;
      width: 100%;
    }

     section#contact div.contact-btns3 a.primary-btn {
      width: 40rem;
      height: 6.3rem;
      padding: 2.5rem 0 0 0;
      font-size: 2.3rem;
    }

    section.both-personas img.maya-img, section.both-personas img.sheila-img {
      width: 65%;
    }

    div.desktop-images-final div.mobile-desktop-images img.final-mobile-one {
      width: 100%;
      margin-top: 45rem;
      margin-bottom: 3rem;
      z-index: 1699;
    }


    /* FOOTER*/

    footer#footer-cube{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      background-color: #FB7E6C;
      margin: 0;
      height: 20rem;
    }

    footer#footer-cube ul.social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      margin: -9rem 3% 0 0 ;
      padding: 0;
    }

    footer#footer-cube ul.social-media li {
      margin: 0 0 0 10%;
    }

    footer#footer-cube ul.social-media i.fab, footer#footer-cube ul.social-media i.fas{
      font-size: 3.3rem;
      padding-right: 0.5rem;
      color: #001F40;
    }

    ul.social-media p:hover, ul.social-media i:hover {
      color: #FFFDFB;
      cursor: pointer;
    }

    footer#footer-cube div.copyright {
      text-align: left;
      padding: 0;
      width: auto;
      margin: -9rem 0 0 5%;
    }

    footer#footer-cube div.copyright p {
      padding: 0 0 0.5rem 0;
      font-size: 2.3rem;
      font-family: "Brandon Text Medium";
     }
    }


    @media (min-width: 2300px) and (max-width: 5000px) {
      p {
        font-size: 3.3rem;
        line-height: 120%;
      }

      section div.callout p.co-text {
        font-size: 3.9rem;
        border-left: 14px solid #FFA856;
        line-height: 120%;
        padding: 3rem 0 3rem 3rem;
      }

      div.Starstuff-header img.logo-header {
        width: 50%;
      }

      div.Starstuff-header h1.header-title {
        font-size: 6.5rem;
      }

      div.Starstuff-header p.header-text {
        font-size: 3.8rem;
      }
      /*chart section*/

      div.chart-html h3.chart-title {
        font-size: 6.2rem;
        margin: 7.5rem auto;
      }

      section#chapter2 div.chart-html h5.p-text {
        font-size: 3.7rem;
        margin: 2rem auto;
      }


     div.chart-html div.partl-section h5.text-stat {
       font-size: 3.5rem;
       margin: 2rem auto 3rem auto;
     }

     div.chart-html div.partl-section h3.number-stat {
       font-size: 6.5rem;
     }

     div.part1-section div.number-circlec, div.part2-section div.number-circlec {
       position: relative;
       left: 5rem;
     }

     div.part3-section div.number-circlec {
       position: relative;
       left: 5rem;
       top: -10rem;
     }

     section#chapter2 div.chart-html div.chart-wrap div.number-circlec {
       margin: 0;
       width: 5.5rem;
       height: 5.5rem;
       font-size: 3.5rem;
     }

     div.chart-html div.chart-wrap img.chart-mobile-large {
       width: 30%;
     }

     /* END CHART SECTION*/

      section#chapter1 article.challenge-intro img.chapter1-image {
        width: 22%;
        position: absolute;
        display: block;
        left: 65%;
        /* margin: -16rem auto 0 auto; */
      }

      h1 {
        font-size: 5rem;
      }

      section article.icing div.content {
        padding-bottom: 5rem;
      }

      section h2.pg-label {
        font-size: 4.7rem;
        line-height: 110%;
      }

      section h3.pg-topic {
        font-size: 4.2rem;
        line-height: 100%;
      }

      section#intro article.intro-header div.contact-btns1 a.primary-btn {
       width: 45rem;
       padding: 2.8rem 0 0 0;
       font-size: 2.8rem;
       height: 7.5rem;
       border: 0.5rem solid #FB7E6C;
     }


     section.project-info ul li {
       font-size: 3.3rem;
     }

     section.project-info h2.title {
       font-size: 4rem;
     }

     section.project-info img {
       width: 25%;
     }

     section.project-info div.design-del img {
       width: 19%;
     }

     section.project-info div.design-del h2.title {
       padding-top: 0.1rem;
     }

     article.intro-header div.contact-btns1 a.primary-btn {
      width: 50rem;
      height: 7.5rem;
      padding: 3rem 0 0 0;
      font-size: 2.8rem;
    }


     div.contact-btns2 a.primary-btn {
      height: 7.5rem;
      padding: 2.8rem 0 0 0;
      font-size: 2.8rem;
      width: 45rem;
      border: 0.5rem solid #FB7E6C;
    }

      section#chapter1 div.content ol span, div.content ol li, div.content ul li{
        font-size: 3.3rem;
        line-height: 120%;
      }

      section#chapter1 div.ch1-content div.solution {
        margin: 0 0 20% 5rem;
        display: block;
      }

      section div.title-card h2.section-title {
        font-size: 4rem;
      }

      section.cuatro div.vid-responsive, section.cinco .vid-responsive, section.seis .vid-responsive {
        width: 100%;
      }

      div.iterations-list section.cuatro header.iteration-title, div.iterations-list section.cinco header.iteration-title, div.iterations-list section.seis header.iteration-title {
        width: 60%;
        margin: 0 auto;
      }

      section.cuatro header.iteration-title div.it-caption, section.cinco header.iteration-title div.it-caption, section.seis header.iteration-title div.it-caption {
        margin-left: 6.5rem;
        padding: 0 0 1.5rem 0;
      }

      div.iterations-list section.cuatro p.text-box, div.iterations-list section.cinco p.text-box, div.iterations-list section.seis p.text-box {
        margin: 0 auto 3rem auto;
        padding: 0;
      }

      section div.title-card  {
        margin: 25rem 0 20rem 0;
      }

      section div.title-card img.chapter {
        width: 6%;
        margin-top: -3rem;
      }

      .companal div.content {
        width: 55%;
        padding: 0;
        margin-left: 0rem;
       }

       .companal .compimg {
         display: block;
         width: 20%;
         margin-right: 5rem;
       }

       .compimgh {
         display: none;
       }

      section#chapter3 div.title-card img.chapter {
        width: 6%;
        margin: -3rem 0 0 1rem;
      }

      section#chapter4 div.title-card img.chapter {
        width: 6%;
        margin: -0.7rem 0.5rem 0;
      }

      div.brand-story div.brand-quote h2.main-quote {
        font-size: 4.8rem;
      }

      div.brand-story div.brand-quote h2.by {
        font-size: 4.8rem;
      }

      div.brand-story div.brand-quote img.quote-img {
        width: 10%;
        margin: 0 0rem 1rem -3rem;
      }

      section.both-personas div.vertical-line span.pers-quote, section.both-personas p.persona-quote i span {
        font-size: 3.8rem;
      }

      section.both-personas div.vertical-line p.persona-quote {
        font-size: 3.5rem;
        line-height: 110%;
      }

      section.both-personas div.motivations {
        margin: 5rem auto 0 auto;
      }

      section.both-personas img.maya-img, section.both-personas img.sheila-img {
        width: 65%;
      }

      div.motivations h4 span, div.frustrations h4 span {
        font-size: 3.5rem;
      }

      article.person section.both-personas {
        width: 80%;
      }

      section.maya-persona, section.sheila-persona {
        width: 50%;
        margin: 0 auto;
      }

      div.pers-title h2 {
        font-size: 5rem;
        margin: 1rem 0 0 0;
      }

      div.pers-title h3 {
        font-size: 3.8rem;
      }

      a.style-button {
        font-size: 3.3rem;
      }

      div.block h4 {
        font-size: 3.8rem;
      }

      header.it-list h3.it-text {
        font-size: 3.5rem;
      }

      section.it-snippet div.it-title div.number-circle {
        padding: 2.3rem 0 0 0;
        margin: 0.5rem 1rem 0 -0.5rem;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 3rem;
      }

      #chapter4 div.color-palette div.color {
        width: 40%;
      }

      /* STYLE GUIDE IMAGES*/

     section#chapter4 div.typography div.sg-images {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       background-color: #405276;
       padding: 2rem 3rem;
       width: 100vw;
       margin: 10rem auto 0 auto;
     }

     section#chapter4 div.sg-images img.sg-img {
       width: 27%;
       margin: 0 2rem 0 0;
     }

     section#chapter4 div.typography div.sg-images img.sg-img2 {
       width: 27%;
       margin: 0 0 0 0;
     }

     section#chapter4 div.typography div.style-wrapper {
      margin: 5rem auto;
     }

     div.iterations-list div.it-caption h3.it {
       font-size: 3.8rem;
       width: 100%;
       padding: 1.5rem 0 0 0;
     }

     div.iterations-list header.iteration-title span.number-circle {
       padding: 2.3rem 0 0 0;
       margin: 0rem 1rem 0 -0.5rem;
       width: 4.5rem;
       height: 4.5rem;
       font-size: 3rem;
     }

     #chapter6 div.desktop-images-final div.mobile-desktop-images {
       width: 80%;
     }

     div.desktop-images-final div.mobile-desktop-images img.final-mobile-one {
       width: 100%;
       margin-top: 60rem;
       margin-bottom: 3rem;
       z-index: 1699;
     }

     section.cinco div.it-caption span.number-circle, section.seis div.it-caption span.number-circle {
       margin: 1.5rem 1rem 0 0;
     }

     article.concl h3.concl-heading, article.final-p div.content h2 {
       font-size: 4.5rem;
     }

     article.concl h3.concl-subhead, article.concl h3.concl-sub {
       font-size: 4rem;
     }

     article.concl p.text-box {
       font-size: 3.2rem;
       line-height: 130%;
     }

     article.final-p p.text-box {
       font-size: 3.2rem;
     }

     section#chapter5 div.test-bg h3.category-title {
       font-size: 5rem;
       margin: 0 auto;
     }

     section#chapter5 div.test-bg div.test-wrapper h4 {
       font-size: 5rem;
     }

     section#chapter5 div.test-bg div.test-wrapper p.screen-subtitle {
       font-size: 3.5rem;
     }

     section#chapter5 div.test-bg div.test-wrapper h3.numbers {
       font-size: 6rem;
       margin: 5rem 0 3rem 0;
     }

     section#chapter5 div.test-bg div.test-wrapper p.descs {
       font-size: 3.3rem;
       margin: 0 auto 1rem auto;
     }

     section.iterations-snippet section.rogue-img p.test-img-text {
       margin: 5rem auto;
       font-size: 4rem;
       line-height: 140%;
     }

     section.iterations-snippet section.rogue-img p.test-img-text span {
       font-size: 4.5rem;
     }

     div.magnify img.img-frustrations {
       width: 30%;
     }

     div.audience img.users {
       width: 32%;
     }

    /* ITERATION STATION*/

     div.iterations-list section.uno header.iteration-title {
       width: 60%;
       margin: 5rem auto;
     }

     header.iteration-title p.text-box {
       font-size: 3.3rem;
     }


     section#chapter5 div.iterations-list section.cinco .number-circle, section#chapter5 div.iterations-list section.seis .number-circle {
       margin: 1.6rem 1rem 0 0;
     }

     section#chapter5 div.iterations-list .number-circle {
       margin: 0 1.5rem 0 0;
     }

     section#chapter5 div.iterations-list section.dos .it-caption,     section#chapter5 div.iterations-list section.tres .it-caption {
       margin: 0 0 0 -2.5rem;
     }

     section#chapter5 section.uno p.text-box {
       font-size: 3.5rem;
       margin: 0 0 0 6rem;
     }

     section.iterations-snippet section.rogue-img div.bt-screen h4.bt-title{
       font-size: 4.5rem;
     }

     section.iterations-snippet section.rogue-img div.bt-screen p.bt-desc{
       font-size: 3.5rem;
     }

     section.iterations-snippet section.rogue-img h3.button-title {
       font-size: 5rem;
     }

     section#contact div.contact-copy1 h2.contact-title1 {
       font-size: 8.5rem;
       padding-bottom: 1rem;
     }

     section#contact div.contact-copy1 h5.contact-text {
       font-size: 4rem;
       padding-top: 1rem;
   }

     section#contact article.contact-meat div.contact-copy1 {
       width: 95rem;
       margin: -20rem auto 3rem auto;
     }

     section#contact img.contact-graphic {
       width: 16%;
       position: relative;
       left: 0;
     }

     section#contact div.contact-btns3 a.primary-btn {
       height: 7.5rem;
       padding: 2.9rem 0 0 0;
       font-size: 2.8rem;
       width: 45rem;
       border: 0.4rem solid #FB7E6C;
    }

    section#contact div.return-top {
      margin: 5rem 0 10rem 0;
    }

    section#contact div.return-top a.return-link {
      font-size: 4rem;
    }

    section#contact div.return-top i.fas {
      font-size: 4rem;
      padding-bottom: 1.5rem;
    }

    section#chapter5 article.ab h3.pg-topic {
      margin: 5rem auto 0 auto;
    }

    section#chapter5 article.ab div.content p.text-box {
      font-size: 3.5rem;
      margin-bottom: 10rem;
    }


        /* FOOTER*/

        footer#footer-cube{
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          background-color: #FB7E6C;
          margin: 0;
          height: 23rem;
        }

        footer#footer-cube ul.social-media {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45%;
          margin: -9rem 3% 0 0 ;
          padding: 0;
        }

        footer#footer-cube ul.social-media li {
          margin: 0 0 0 10%;
        }

        footer#footer-cube ul.social-media i.fab, footer#footer-cube ul.social-media i.fas{
          font-size: 4rem;
          padding-right: 0.5rem;
          color: #001F40;
        }

        ul.social-media p:hover, ul.social-media i:hover {
          color: #FFFDFB;
          cursor: pointer;
        }

        footer#footer-cube div.copyright {
          text-align: left;
          padding: 0;
          width: auto;
          margin: -9rem 0 0 5%;
        }

        footer#footer-cube div.copyright p {
          padding: 0 0 0.5rem 0;
          font-size: 3rem;
          font-family: "Brandon Text Medium";
         }
    }
