.grid-hero {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "hi header"
  "name name"
  "slogan slogan"
  "description description"
  "work work";
}

a.work-link {
  color: #001F40;
}

.description {
  grid-area: description;
  font-size: 2rem;
  line-height: 2.7rem;
  padding-top: 2rem;
}

.fa-caret-down {
  color: #FB7E6C;
  display: block;
}

.hi {
  grid-area: hi;
  font-family: 'Brandon Grotesque Bold', sans-serif;
  font-size: 3rem;
  padding-top: 28rem;
  letter-spacing: 1%;
}

.logo-size {
  width: 20rem;
  height: auto;
}

.mobile-header {
  grid-area: header;
  padding-left: 0;
}

.name {
  grid-area: name;
  font-family: 'Brandon Grotesque Bold', sans-serif;
  font-size: 6.9rem;
  line-height: 10rem;
  letter-spacing: 1%;
  padding: 1rem 0 1rem 0;

}

.slogan {
  grid-area: slogan;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.see-work {
  grid-area: work;
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 10rem;
  text-align: center;
}

#project-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid blue;
  grid-template-areas:
  "mobile-img pr-name"
  "mobile-img pr-title"
  "mobile-img pr-role"
  "mobile-img pr-desc";
}

.project-desktop {
  display: none;
}

.project-mobile {
  grid-area: mobile-img;
}
.project-name {
  grid-area: pr-name;
  font-size: 1.8rem;
}

.project-title {
  grid-area: pr-title;
  font-size: 2.5rem;
}

.role {
  grid-area: role;
}

.project-desc {
  grid-area: pr-desc;
}


/* **** MEDIA QUERY FOR DESKTOP *** */

@media screen and (min-width: 720px) {
  .grid-hero {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    border: 4px solid green;
    grid-template-areas:
    "hi          headerlg"
    "name        headerlg"
    "slogan      headerlg"
    "description headerlg"
    "work        work";
  }

  img.desktop-image {
    display: block;
    grid-area: headerlg;
    width: 95%;
    padding-left: 5rem;
    z-index: 1;
  }

  .description {
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 0;
    margin-bottom: 18rem;
    margin-top: 0;
  }

 .hi {
    font-size: 3.5rem;
    /* padding: 8rem 0 0 0; */
    padding-top: 0;
    margin-bottom: -24rem;
  }

  .slogan {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-bottom: -15rem;
    /* padding: 0; */
  }

  .name {
    font-size: 8rem;
    margin-bottom: -15rem;
    padding-top: 0;
    /* padding: 0; */
  }

  .see-work {
    z-index: 6;
    position: relative;
    font-size: 2rem;
    margin: 0 auto;
    bottom: 15rem;
    /* top: 72rem;
    left: 65rem; */
  }

  .project-mobile {
    display: none;
  }

  #project-section {
    display: grid;
  }

}
