/* MOBILE CSS */

*, *:after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #FFFDFB;
  font-family: "Brandon Text Regular", "Josefin Sans", sans-serif;
  /* margin: 0; */
  transition: all 500ms;
  will-change: background;
}

#contact {
  display: block;
  width: 100%;
  /* height: 100vh; */
}

.container {
  width: 100%;
  overflow: hidden;
}

.bg-header {
  background-image: linear-gradient(#FFF3ED, #FFFDFB);
  width: 100%;
}

html {
  font-size: 10px;
  font-family: 'Brandon Text Regular', sans-serif;
  color: #001F40;
}

p {
  font-size: 1.6rem;
  line-height: 120%;
  font-family: 'Brandon Text Regular';
}

/* ANIMATIONS*/
@charset "UTF-8";

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* STORY GRAPHIC ANIMATION*/

.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 3000ms cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s;
	        animation: wobble-hor-bottom 3000ms cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  /* 15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  } */
  /* 30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  } */
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* Logo fade-in */

.logo {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  visibility: visible;
  transition: opacity 1s, transform .7s, visibility .7s, -webkit-transform .7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* END ANIMATIONS*/

strong {
  font-family: 'Brandon Text Bold';
}

@font-face {
  font-family: 'Brandon Text Black';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Text Black'), url('HVD Fonts - BrandonText-Black.woff') format('woff');
}

@font-face {
  font-family: 'Brandon Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Text Regular'), url('HVD Fonts - BrandonText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Brandon Grotesque Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Grotesque Bold'), url('brandon-grotesque-bold-587bd6400afd0.woff') format('woff');
}

/*Menu toggle section*/
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}

.logo-size {
  width: 70%;
  padding-left: 1.6rem;
  padding-bottom: 0;
  margin-bottom: 4.7rem;
}

div.desktop {
  display: none;
}

#navbar-toggle {
  display: block;
  padding-right: 1.6rem;
  position: relative;
   z-index: 2;
   -webkit-user-select: none;
   user-select: none;
  }

#navbar-toggle input{
  display: block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  top: -.7rem;
  left: -.6rem;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Make a hamburger menu*/

#navbar-toggle span {
  display: block;
  width: 3rem;
  height: .3rem;
  margin-bottom: .5rem;
  position: relative;
  background: #FFA856;
  border-radius: .5rem;
  z-index: 2;
  transform-origin: .4rem 0rem;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#navbar-toggle span:first-child {
  transform-origin: 0% 0%;
}

#navbar-toggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/*Transform slices of hamburger into crossmark*/

#navbar-toggle input:checked ~ span {
  opacity: 1;
  border-radius: .3rem;
  transform: rotate(45deg) translate(-.2rem, -.1rem);
  background: #FFFDFB;
}
/* Hide the middle slice which isn't needed for cross icon*/
#navbar-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Make the second slide go opposite direction*/
#navbar-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/*Position to top right of screen*/
#main-nav {
  position: absolute;
  width: 41.8rem;
  height: 90rem;
  margin: -10rem 0 0 50rem;
  padding: 50%;
  padding-top: 12.5rem;
  background: #FB7E6Ced;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;/*stop flickering in safari*/

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);/* WATCH THESE (above too)*/
  transform: none;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* Let menu slide out from left*/

#navbar-toggle input:checked ~ ul {
  transform: translate(-85rem, 0rem);
  /* transform: none; */
}

/*end menu toggle*/

#main-nav li {
  text-align: center;
  font-family: 'Brandon Grotesque Bold';
  padding-bottom: 5rem;
  padding-top: 3rem;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  color: #001F40;
  font-size: 3rem;
}

.primary-btn {
  background-color: none;
  width: 21rem;
  height: 4.8rem;
  font-family: 'Brandon Grotesque Bold';
  font-size: 1.6rem;
  border: .3rem solid #FB7E6C;
  color: #FB7E6C;
  padding: 1.50rem 2rem;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 4rem;
}

.secondary-btn {
  font-family: 'Brandon Grotesque Bold';
  font-size: 1.6rem;
  text-decoration: none;
  color: #001F40;
  z-index: 1000;
  cursor: pointer;
  position: relative;
  right: 16.3rem;
}

.story-button span {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 5rem;
  height: 1rem;
  width: 16rem;
  top: .7rem;
  background-position: -3rem bottom;
  background-color: #03E1D7;
}

/*End of menu toggle*/


/* MOBILE HERO CSS GRID SECTION */
  .desktop-image {
    display: none;
  }

  .grid-hero {
    width: 90%;
    margin: 0 auto;
  }

  .grid-hero {
    display: grid;
    align-items: center;
    padding: 0 1.6rem;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header-m"
    "hi"
    "name"
    "slogan"
    "description"
    "work";
  }

  a.work-link {
    color: #001F40;
  }

  .description {
    grid-area: description;
    font-size: 2rem;
    line-height: 2.7rem;
    padding-top: 2rem;
  }

  i.fa-caret-down {
    color: #FB7E6C;
    display: block;
  }

  .hi {
    grid-area: hi;
    font-family: 'Brandon Grotesque Bold', sans-serif;
    font-size: 3rem;
    letter-spacing: 1%;
  }

  .mobile-header {
    grid-area: header-m;
    width: 100%;
  }

  .name {
    grid-area: name;
    font-family: 'Brandon Grotesque Bold', sans-serif;
    font-size: 6.9rem;
    line-height: 7.9rem;
    letter-spacing: 1%;
    width: 30rem;
  }

  .slogan {
    grid-area: slogan;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .see-work {
    grid-area: work;
    font-size: 2rem;
    padding-top: 10rem;
    padding-bottom: 15rem;
    text-align: center;
  }

  #project-section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas:
    "mobile-img"
    "pr-name"
    "pr-title"
    "pr-role"
    "pr-desc"
    "button";
  }

  .feat-project-text {
    padding: 0 1.6rem;
    margin: 0 auto;
  }

  .project-mobile-lg {
    grid-area: mobile-img;
    width: 100%;
  }

  .project-desktop {
    display: none;
  }

  .project-name {
    grid-area: pr-name;
    font-family: Futura-bold;
    line-height: 120%;
    padding-bottom: .5rem;
    font-size: 2rem;
  }

  .project-title {
    grid-area: pr-title;
    width: 30rem;
    line-height: 100%;
    font-size: 3.5rem;
    font-family: Futura-bold;
  }

  .role {
    grid-area: role;
    font-family: Futura-medium;
    font-size: 1.8rem;
    line-height: 120%;
    color: #405276;
    padding-bottom: 2rem;
  }

  .project-desc {
    grid-area: pr-desc;
    line-height: 120%;
    width: 95%;
  }

  .read-more.primary-btn {
    grid-area: button;
    margin-top: 2rem;
    margin-bottom: 15rem;
  }

  /* About section*/
  .about-box {
    display: flex;
    background-color: #FDE8DE;
    justify-content: center;
    width: 100%;
    padding: 7.5rem 1.6rem;
    align-items: center;
    flex-direction: column;
  }

  .about-box, .rashel-img-mobile {
    align-items: center;
    justify-content: center;
  }

  .about-content {
    margin-top: -40rem;
  }

  .about-title {
    font-size: 3rem;
    font-family: 'Brandon Text Bold', sans-serif;
    color: #001F40;
    z-index: 10;
    margin-bottom: 6rem;
  }

  .story-graphic {
    display: none;
  }

  .rashel-image {
    display: none;
  }

  .rashel-img-mobile {
    display: block;
    width: auto;
    padding: 0 1.6rem;
  }

  .leaves-story-mobile {
    width: 40%;
    position: relative;
    bottom: 30rem;
    right: 11.5rem;
  }

  .about {
    margin-top: -4rem;
    margin-bottom: 2rem;
  }

  /* Contact Section */
  .contact-box {
    width: 100%;
    padding: 0 1.6rem;
    padding-bottom: 8rem;
    background-color: #15246D;
    padding-top: 2rem;
  }

  .contact-image {
    max-width: 80%;
    height: auto;
    position: relative;
    left: 6rem;
    top: -4rem;
    z-index: 1;
  }

  .contact-header {
    font-size: 4rem;
    position: relative;
    top: -10rem;
    z-index: 10;
    font-family: 'Brandon Text Bold';
    line-height: 100%;
    color: #FFA856;
  }

  .contact-body {
    font-size: 2.2rem;
    font-family: 'Brandon Text Regular';
    line-height: 120%;
    width: 95%;
    color: #FFA856;
    margin-top: -8rem;
    margin-bottom: 3rem;
  }

  .contact-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .get-in-touch {
    margin-bottom: 2rem;
  }

  .return-top {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    font-size: 2rem;
    padding-top: 6rem;
    text-align: center;
    align-items: center;
  }

  i.fa-caret-up {
    color: #B0F0FD;
    display: block;
  }

  .return-link {
    text-decoration: none;
    color: #B0F0FD;
  }

  .return-link:hover {
    color: #FFFDFB;
  }

  .bounce {
  z-index: 1;
  animation-timing-function: ease;
  transition-duration: 3s;
  -moz-animation: bounce 4s 4;
  -webkit-animation: bounce 4s 4;
  animation: bounce 4s 4;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#footer-box {
  background-color: #FB7E6C;
}

.social-media {
  display: grid;
  width: 80%;
  padding: 3rem 0;
  margin: 0 auto;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-media p {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
  font-family: 'Futura Bold', inherit;

}

.fab, .fas {
  font-size: 2rem;
  color: #001F40;
}

.copyright {
  text-align: center;
  padding-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
  font-family: 'Futura Bold', inherit;
}








/* ****** TABLET MEDIA QUERY ******* */

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .desktop-image{
    width: 70%;
    margin: 0 auto;
    display: block;
  }


  .navbar {
    display: flex;
    height: 12rem;
    flex-direction: row;
    width: 100%;
    }

  .logo-size {
    width: 70%;
    padding-top: 2rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
    }

    .logo-size, .desktop {
    align-items: center;
    flex-direction: row-reverse;
    }

    #navbar-toggle {
    display: none;
    }

    div.desktop {
    display: block;
     min-width: 55%;
     padding: 4rem 2rem;
    }

    ul.no {
      display: flex;
      justify-content: flex-end;
      text-align: center;
    }


    .no a {
      cursor: pointer;
      color: #001F40;
      text-decoration: none;
    }

    .no a:hover {
      color: #FB7E6C;
    }

    .off {
      padding: 2rem;
      font-size: 2rem;
    }

    /* TABLET HERO*/

    .grid-hero, .feat-project-text, .about-content, .contact-header, .contact-body {
          padding: 0 5rem;
    }

    .grid-hero {
      margin: 0 auto;
      padding: 0;
    }

    /* TABLET PROJECT */

    .feat-project-text {
      margin-bottom: 0rem;
    }

    .project-desktop {
      width: 60%;
      display: block;
    }

    .project-desktop, .mobile-header, .story-graphic {
      display: none;
    }

    .project-mobile-lg {
      display: block;
      width: 60%;
      margin: 0 auto;

    }

    /*TABLET ABOUT*/

    .rashel-img-mobile {
      margin-bottom: 0rem;
    }

    .leaves-story-mobile {
      display: block;
      right: 3rem;
    }

    /* TABLET CONTACT*/
    .contact-image {
      left: 44rem;
      top: 0;
      display: block;
    }

    .contact-header {
      margin-top: -5rem;
    }

    .contact-btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5rem auto;
    }

    .get-in-touch, .download-resume {
      margin: 0 2.5rem 0 2.5rem;
    }

    .return-top {
      margin-top: -5rem;
    }
}













/* ****** DESKTOP MEDIA QUERY ******* */

/* HOMEPAGE SECTION*/
@media screen and (min-width: 1024px) {

  body {
    background-color: #FFFDFB;
    font-family: "Brandon Text Regular", "Josefin Sans", sans-serif;
    transition: background 1s ease;
    width: 100%;
  }

 .grid-hero, #project-section {
    width: 80%;
  }


  /*DESKTOP SECTION BEGINS*/

/* DESKTOP NAVIGATION*/
  p {
    font-size: 2rem;
  }

.navbar {
    display: flex;
    height: 12rem;
    flex-direction: row;
    width: 100%;
  }

.logo-size {
  width: 60%;
  padding-top: 2rem;
  margin-bottom: 6rem;
  margin-left: 17rem;
  }

  .logo-size, .desktop {
    align-items: center;
    flex-direction: row-reverse;
  }

  #navbar-toggle {
    display: none;
  }

  div.desktop {
  display: block;
   min-width: 55%;
   padding: 4rem 5rem;
  }

  ul.no {
    display: flex;
    justify-content: flex-end;
    text-align: center;
  }

  .no a {
    cursor: pointer;
    color: #001F40;
    text-decoration: none;
  }

  .no a:hover {
    color: #FB7E6C;
  }

  .off {
    padding: 2rem;
    font-size: 2rem;
  }

/*NAV LINK FADE ANIMATION */

.desktop li {
  -webkit-animation: fadeinLoad 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeinLoad 4s; /* Firefox < 16 */
      -ms-animation: fadeinLoad 4s; /* Internet Explorer */
       -o-animation: fadeinLoad 4s; /* Opera < 12.1 */
          animation: fadeinLoad 4s;
  visibility: visible;
  transition: opacity 1s, visibility .7s;
}

@keyframes fadeinLoad {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeinLoad {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinLoad {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeinLoad {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeinLoad {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* END OF NAV ANIMATION*/

  .nav-link:hover {
    color: #FB7E6C;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }

  .work-link:hover {
    color: #FB7E6C;
  }

  img.desktop-image {
    display: block;
    width: 120%;
  }

  .mobile-header {
    display: none !important;
  }

  /* DESKTOP GRID HERO SECTION** */

    body {
      width: 144rem;
    }

    .grid-hero {
      display: flex;
      width: 114rem;
      flex-direction: row-reverse;
      align-items: center;
      height: 100vh;
    }

    .desktop-image {
      width: 150%;
      z-index: 1;
      padding: 0 5rem 0 0;
    }

    .description {
      font-size: 2.5rem;
      line-height: 3.2rem;
      padding: 0 0 0 2rem;
      width: 50rem;
    }

   .hi {
      font-size: 3.5rem;
      padding: 0 0 0 2rem;
    }

    .slogan {
      font-size: 2.5rem;
      line-height: 3.5rem;
      width: 50rem;
      padding: 0 0 1rem 2rem;
    }

    .name {
      font-size: 8rem;
      width: 50rem;
      padding: 1rem 0 1rem 2rem;
    }

    .see-work {
      z-index: 6;
      font-size: 2rem;
    }

  /* Project Section Desktop */
    #project-section {
      display: grid;
      width: auto;
      align-items: center;
      justify-content: center;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
      "project-desktop project-text";
    }


    .project-desktop {
      display: block;
      margin-left: -18rem;
      width: 100%;
      grid-area: project-desktop;
    }

    .project-desktop, .feat-project-text {
      align-items: center;
    }

    .feat-project-text {
      margin-right: 15rem;
      align-self: center;
      align-items: center;
      /* margin-top: 0; */
      padding: 2rem 2rem;
    }

    .project-name {
      grid-area: pr-name;
      font-family: Futura-bold;
      line-height: 120%;
      padding-bottom: .5rem;
      font-size: 3rem;
    }

    .project-title {
      grid-area: pr-title;
      width: 50rem;
      line-height: 100%;
      padding-bottom: .5rem;
      font-size: 4.5rem;
      font-family: Futura-bold;
    }

    .role {
      grid-area: role;
      font-family: Futura-medium;
      font-size: 1.8rem;
      line-height: 120%;
      color: #405276;
      padding-bottom: 2.5rem;
    }

    .project-desc {
      grid-area: pr-desc;
      line-height: 120%;
      width: 50rem;
    }

    .read-more.primary-btn {
      grid-area: button;
      margin-top: 3rem;
      margin-bottom: 0;
    }

    .project-mobile-lg {
      display: none;
    }

    .primary-btn {
      background-color: none;
      font-family: 'Brandon Grotesque Black';
      font-size: 1.6rem;
      border: .3rem solid #FB7E6C;
      color: #FB7E6C;
      text-align: center;
      text-decoration: none;
      /* display: block; */
      cursor: pointer;
      border-radius: 4rem;
    }

    .primary-btn:hover {
        background-color: #FB7E6C;
        color: #FFFDFB;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
    }

    /* About section DESKTOP*/
    .about-box {
      display: flex;
      flex-direction: row-reverse;
      background-color: #FDE8DE;
      margin-top: 20rem;
      padding-left: 15rem;
    }

    .about-content, .about-box {
      align-items: center;
      /* justify-content: center; */
    }

    .about-content {
      margin: 0 auto;
      padding: 0 2rem;
      padding-right: 3rem;
    }

    .rashel-image {
      display: block;
      width: 100%;
      margin-right: -3rem;
    }

    .about-title {
      font-size: 4rem;
      font-family: 'Brandon Text Bold', sans-serif;
      color: #001F40;
    }

    .story-graphic {
      width: 23%;
      display: block;
      position: relative;
      top: -15rem;
      left: 28rem;
    }

    .rashel-img-mobile {
      display: none;
    }

    .leaves-story-mobile {
      display: none;
    }

    .secondary-btn a {
      width: 12rem;
      border: 1px solid red;
      margin: 0;
      padding: 0;
    }

    .story-button span:hover {
      background-color: #FB7E6C;
      cursor: pointer;
    }


    /* Contact Section */
    .contact-box {
      width: 100%;
      padding: 15rem 1.6rem;
      padding-bottom: 8rem;
      padding-top: 2rem;
    }

    .contact-image {
      width: 20%;
      position: relative;
      left: 100rem;
      max-width: 100%;
      top: -3rem;
      z-index: 1;
    }

    .contact-header {
      font-size: 5rem;
      text-align: center;
      position: relative;
      padding: 0 23rem;
      font-family: 'Brandon Text Bold';
      line-height: 100%;
      color: #FFA856;
    }

    .contact-body {
      font-size: 3rem;
      text-align: center;
      font-family: 'Brandon Text Regular';
      line-height: 120%;
      padding: 0 23rem;
      color: #FFA856;
    }

    .contact-btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5rem auto;
    }

    .get-in-touch, .download-resume {
      margin: 0 2.5rem 0 2.5rem;
    }

    .return-top {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      font-size: 2rem;
      padding-top: 6rem;
      text-align: center;
      align-items: center;
    }

    #footer-box {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .social-media {
      display: flex;
      justify-content: flex-end;
      padding-right: 10rem;
    }

    .social-media p {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0 1rem;
      font-size: 1.8rem;
      font-family: 'Futura Bold', inherit;
    }

    .fab, .fas {
      font-size: 2rem;
      padding-right: .5rem;
      color: #001F40;
    }

    .social-media i:hover {
      color: #FFFDFB;
    }

    .social-media p:hover {
      color: #FFFDFB;
      cursor: pointer;
    }

    .copyright p {
      text-align: left;
      align-items: center;
      font-size: 1.8rem;
      padding-left: 10rem;
      padding-top: 3rem;
      font-family: 'Futura Bold', inherit;
    }
}
