/* TABLET STARSTUFF PAGE*/

/* main {
  padding: 0 10rem;
} */
/* ****** TABLET MEDIA QUERY ******* */

@media screen and (min-width: 768px) and (max-width: 1025px) {

.container {
  width: 100%;
  overflow: hidden;
}

.logo-size {
  width: 70%;
  padding-left: 1.6rem;
  padding-top: 5.8rem;
  position: relative;
}

div.desktop {
  display: block;
  min-width: 55%;
  padding: 4rem 3rem;
}

ul .project-1 a {
  cursor: pointer;
  color: #FFFDFB;
  text-decoration: none;
  font-size: 1.8rem;
}

.no a {
  color: #001F40;
  font-size: 1.8rem;
}

#navbar-toggle {
  display: none;
}

/* STAR HERO TABLET */


ul li {
  margin-left: 2rem;
}

.logo-header {
  width: 50%;
}

.mobile-display {
  display: none;
}

.header-text {
  margin: 0 10rem;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.Starstuff-header .Starstuff-display {
  width: 100%;
  display: block;
}

/* INTRO SECTION TABLET*/


#intro {
  margin: 0 auto;
  display: block;
}

  article.intro-header {
    margin: 7.5rem auto;
  }

  article.intro-header .content {
    margin: 1rem auto;
    width: 70%;
  }

  div.contact-btns1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    left: 1rem;
    margin-top: 1rem;
    margin-bottom: 15rem;
    width: 100%;
  }

  div.contact-btns1 a.primary-btn {
    margin-right: 2rem;
    margin-top: 7rem;
    text-align: center;
    width: 39%;
  }

/* CHAPTER SECTION GENERAL*/

/* SECTION TITLES TABLET */

img.chapter {
  display: block;
  position: relative;
  float: left;
  padding-bottom: 1rem;
  padding-top: .2rem;
}

h2.section-title {
  display: flex;
  color: #8A90A4;
  text-align: left;
  padding: 2.2rem 0rem;
  font-size: 2.5rem;
  align-items: center;
}

/* END SECTION TITLES TABLET*/

#chapter1, #chapter2, #chapter3, #chapter4, #chapter5, #chapter6 {
  margin-top: 10rem;
  text-align: left;
}

.pg {
  margin: 7.5rem 10rem 0 10rem;
}

/* CHAPTER 1 TABLET*/

.pg ol {
  margin-top: 1rem;
  padding: 0;
}

.pg ul {
  padding-left: 1rem;
}

.challenge .text-box {
  padding: 0;
}

.pg .solution {
  margin-bottom: 3rem;
}

img.chapter1-image {
  display: none;

}

/* CHAPTER 2 TABLET*/
img.chart-mobile {
  display: none;
}

.survey-results .content {
  margin: 0 auto;
  padding: 0;
}

img.chart {
  display: block;
  width: 102vw;
  margin-left: -12rem;
  margin-top: 3rem;
}

.caption {
  padding-top: 1rem;
}

.survey-results .callout {
  background-color: #FDE8DE;
  width: 100vw;
  margin: 5rem -10rem 5rem -11.5rem;
  padding: 3rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-results p.co-text {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  padding-left: 3rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 120%;
  display: block;
}

.survey-results .callout-line {
  background-color: #FFA856;
  width: .7rem;
  height: 23rem;
  position: relative;
  left: 16rem;
  border-radius: 4rem;
}

.magnify .img-frustrations {
  width: 50%;
}

.audience .users {
  width: 60%;
}

.companal .compimg {
  display: none;
}

.content {
  margin: 0 5rem;
}

.compimgh {
  /* width: auto; */
  display: block;
  width: 100%;
  margin: 0 auto;
}

section.both-personas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.both-personas img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.personas .content {
  text-align: center;
  margin-bottom: 3rem;
}

.both-personas h2{
  font-size: 2.5rem;
  padding-bottom: .5rem;
  color: #001F40;
  font-family: futura-bold, sans-serif;
}

.both-personas h3{
  font-size: 2rem;
  width: 82%;
  margin: 0 auto;
  line-height: 120%;
  font-family: futura-medium, sans-serif;
}

.sheila-persona h3 {
  width: 72%;
}

.maya-persona h3 {
  width: 100%;
}

.pers-title {
  text-align: center;
  padding: 3rem 0;
}

.vertical-line .pers-quote {
  font-size: 2rem;
  margin-left: 1rem;
  color: #FB7E6C;
}

.persona-quote {
  font-family: 'Brandon Text Regular Italic', cursive;
  color: #FB7E6C;
  font-size: 2rem;
  margin-left: 0rem;
}

.vertical-line {
  border-left: 3px solid #FB7E6C;
  margin-left: 2rem;
  display: flex;
}

.motivations span, .frustrations span {
  font-size: 1.8rem;
  line-height: 120%;
  color: #001F40;
  font-family: futura-bold, sans-serif;
}

.motivations p {
  padding-top: .5rem;
  line-height: 120%;
}

.motivations, .frustrations {
  margin: 3rem 0;
}

div a.new-button {
  font-family: 'Brandon Grotesque Bold';
  font-size: 1.6rem;
  text-decoration: none;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  color: #001F40;
  display: inline-block;
  margin-top: 2rem;
  margin-left: -0.5rem;
  text-align: center;
  width: 100%;
}

.persona-button span {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 5rem;
  height: 1rem;
  width: 17.5rem;
  top: 1.85rem;
  left: 17.5rem;
  background-position: -3rem bottom;
  background-color: #03E1D7;
}

/* CHAPTER 3 TABLET */

#chapter3 .chapter {
  width: 10%;
}

.box-1, .box-2 {
  display: block;
}

div.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

div.box-1, div.box-2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 5rem;
}

.box-1 h4, .box-2 h4 {
 margin-bottom: 5rem;
 width: 70%;
 margin: 0 auto;
 line-height: 130%;
}

img.flow-mobile {
  display: none;
}

.box-2 .flow-2 {
  display: block;
  width: 110vw;
  margin: 0 auto;
}

.box-1 img.flow-1 {
  width: 100vw;
  display: block;
  margin: 0 auto;
}

.box-1 h4 {
 margin-bottom: 5rem;
}

/* img.flow-mobile {
  display: none;
} */

.style-button {
  display: none;
}

.flows-button a.new-button{
  position: relative;
  left: 0.5rem;
}

.flows-button span {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 5rem;
  text-align: center;
  height: 1rem;
  width: 14.5rem;
  top: 4rem;
  left: 7rem;
  background-position: -3rem bottom;
  background-color: #03E1D7;
}

.sketches img, .wireframe img {
  width: 100%;
  margin: 0 auto;
}

.wf-images .wf-group-mobile {
  display: none;
}

.wf-images .wf-img-group {
  display: block;
  width: 100vw;
}

.wf-images .wf-img-1, .wf-images .wf-img-2 {
  width: 90%;
}

.wf-images {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.prototype .callout {
  background-color: #FDE8DE;
  width: 100vw;
  margin: 5rem -10rem 5rem -11.5rem;
  padding: 3rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prototype p.co-text {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  padding-left: 3rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 120%;
  display: block;
}

.prototype .callout-line {
  background-color: #FFA856;
  width: .7rem;
  height: 19rem;
  position: relative;
  left: 16rem;
  border-radius: 4rem;
}

.prototype-button span {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 5rem;
  height: 1rem;
  width: 25rem;
  top: 4rem;
  left: 9rem;
  background-color: #03E1D7;
}

/* TABLET IMITATE*/

article div.iterations {
  text-align: center;
}

.it-title {
  text-align: center;
  margin-top: 0;
  margin-left: .5rem;
  font-family: "Brandon Text Bold";
}

section.it-snippet {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  text-align: left;
}

header.two p {
  margin-right: 4rem;
}

.it-list .text-box {
  width: 90%;
  margin-left: 4rem;
  display: block;
  float: left;
}

.it-snippet {
  margin-bottom: 7.5rem;
}

.it-snippet .two, .it-snippet .one {
  width: 45rem;
}

 .first img, .second img {
  width: 45%;
  margin-left: 2.5rem;
  display: block;
  margin-bottom: 0;
}

section.third img.last {
  width: 80%;
  display: block;
  margin-bottom: 0;
}

.number-circle {
  background-color: #6534FF;
  border-radius: 50%;
  padding-top: 1.3rem;
  color: #FFFDFB;
  width: 2.5rem;
  height: 2.5rem;
  font-family: 'Brandon Text Medium', sans-serif;
  font-size: 1.8rem;
  margin-top: 0;
}

.it-title .it-text {
  font-size: 2rem;
  font-family: 'Brandon Text Medium', sans-serif;
  display: inline-block;
  text-align: left;
  margin-left: 0.5rem;
}

/* CHAPTER 4 TABLET */

#chapter4 img.chapter {
  width: auto;
  display: block;
  margin-top: 1.5rem;
  padding-top: 1rem;
  position: relative;
  bottom: 1.5rem;
  padding-right: 1rem;
}

.brand-header {
  width: 102vw;
  display: block;
}

.brand-quote img.quote-img {
  width: 11%;
  display: block;
  position: relative;
  right: 2rem;
  top: 1rem;
  }

.brand-story .brand-quote h2 {
 font-family: 'Brandon Text Medium Italic', cursive;
 font-size: 2.5rem;
 line-height: 130%;
 position: relative;
}

.brand-quote h2.by {
 font-family: 'Brandon Text Medium Italic', sans-serif;
 margin-top: .5rem;
 font-size: 2.5rem;
}

i {
  font-family: 'Brandon Text Medium Italic', italic;
}

img.mood {
 width: 104vw;
 display: block;
 margin-left: -12.5rem;
}

article.logo-design {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logop img.logos {
 margin-top: 5rem;
 width: 100vw;
 display: block;
 margin-left: -11.5rem;
}

div.color-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

div.color {
  width: 60%;
}

img.color-else {
 max-width: 50%;
 margin-top: 0;
 display: block;
}

div.typography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.type-content {
  width: 60%;
  margin-right: 2rem;
}

div.typography img.type-img {
   width: 35%;
}

.style-guide-button {
  margin-left: 5.5rem;
  margin-right: 7rem;
  margin-top: 3rem;
}

.style-guide-button span {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 5rem;
  height: 1rem;
  width: 15rem;
  background-color: #03E1D7;
}

/* CHAPTER 5 TABLET */

#chapter5 .chapter {
  width: 12%;
  display: block;
  margin-top: 1.5rem;
  padding-bottom: 0;
  position: relative;
  bottom: 2.8rem;
  left: 1rem;
}

#chapter5 .pg {
  margin-top: 7.5rem;
}

#chapter5 .title-card {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

article.hi-fi .content {
  text-align: center;
}

article.hi-fi img {
  margin-top: 3rem;
  width: 105vw;
  margin-left: -3rem;
}

div.test-bg {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  background-color: #132D60;
}

article.ab div.content {
  width: 70%;
  margin: 7.5rem auto 3rem auto;
}

div.test-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

div.screen-a-header, div.screen-b-header {
  text-align: center;
}

div.screen-a-header h4, div.screen-b-header h4 {
  font-size: 3rem;
  letter-spacing: 1px;
  margin-top: 5rem;
  font-weight: 600;
  line-height: 120%;
  font-family: 'Brandon Text Bold', sans-serif;
}

.test-bg img {
  width: auto;
  margin: 0 auto;
}

.test-bg h3, .test-bg h4, .test-bg p {
  color: #FFFDFB;
  font-family: 'Brandon Text Regular', sans-serif;
  font-size: 2rem;
}

.test-bg h4 {
  color: #73EBE0;
}

img.cat-test-mobile {
  display: none;
}

.test-bg .category-title {
  font-size: 3.5rem;
  font-family: 'Brandon Text Bold', bold;
  margin: 5rem auto 0 auto;
  text-align: center;
  width: 75%;
  line-height: 130%;
}

h3.numbers {
  font-size: 3rem;
  font-family: futura-bold, sans-serif;
  margin-top: 3rem;
  padding-bottom: 1rem;
  color: #73EBE0;
}

p.screen-subtitle {
  margin-bottom: 3rem;
}

p.descs {
  width: 80%;
  margin: 0 auto;
}


article.testing {
  display: flex;
  margin: 0rem 10rem 0 10rem;
  flex-direction: column;
  align-items: center;
}


article.testing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

article.testing div.content {
  width: 60%;
}

div.vid-responsive {
  display: block;
  width: 100%;
  height: 100%;
}

div.vid-responsive {
    overflow:hidden;
    padding-bottom: 56.25%;
    position:relative;
    padding-top: 10%;
    height:0;
}
div.vid-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


article.short {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

article.short div.content {
  width: 60%;
}

.short .callout {
  background-color: #FDE8DE;
  width: 100vw;
  margin: 7.5rem 0 0 0;
  padding: 3rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.short p.co-text {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  padding-left: 3rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 120%;
  display: block;
}

.short .callout-line {
  background-color: #FFA856;
  width: .7rem;
  height: 25rem;
  position: relative;
  left: 16rem;
  border-radius: 4rem;
}

article.icing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article.icing .content {
  text-align: center;
}

section.iterations-snippet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7.5rem;
}

header.iteration-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.iteration-title .it {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  display: block;
  text-align: left;
  font-family: "Brandon Text Medium";
}

header.iteration-title span {
  display: block;
  margin: 0 auto;
  float: left;
}

header.iteration-title {
  margin: 0 10rem;
  width: 45%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
/*
div.it-caption {
  display: flex;
  align-items: center;
} */

header.iteration-title p.text-box {
  width: 70%;
  margin-left: 3.5rem;
  margin-top: -0.5rem;
  text-align: left;
}

div.rogue-img img.rogue-mobile {
  display: none;
}

section.uno .iteration-title {
  width: 75rem;
  margin-right: -5rem;
}

section.uno img {
  width: 100vw;
  display: block;
  margin: 0 auto;
}

div.rogue-img img.center {
  display: flex;
  flex-direction: column;
  width: 105vw;
}

div.rogue-img p.test-img-text {
  position: relative;
  color: #FFFDFB;
  width: 45%;
  left: 37rem;
  top: 14rem;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Brandon Text Regular';
  line-height: 130%;
}

.test-img-text span {
  color: #73EBE0;
  font-family: futura-bold, bold;
}

.test-img-text a {
  color: #FB7E6C;
}

div.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30rem 10rem 0 10rem;
  padding-left: 10rem;
}

section.dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.5rem;
  margin-right: 10rem;
  margin-bottom: 0;
}

section.dos .iteration-title {
  width: 75rem;
  margin: 0 auto 0 20rem;
  display: block;
}

section.dos img {
  width: auto;
  margin: 5rem auto 3rem auto;
}

section.tres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.5rem;
  margin-right: 10rem;
  margin-bottom: 0;
}

section.tres .iteration-title {
  width: 75rem;
  margin: 0 auto 0 20rem;
}

section.tres img {
  width: auto;
  margin: 0;
  padding-top: 5rem;
}


section.cuatro .vid-responsive, section.cinco .vid-responsive, section.seis .vid-responsive {
  width: 50%;
  margin-top: -10rem;
  padding-bottom: 50rem;
}

 section.cinco, section.seis {
  margin-top: -10rem;
}

section.cuatro .iteration-title, section.cinco .iteration-title, section.seis .iteration-title {
    width: 75rem;
    padding-left: 10rem;
}


article.icing .callout {
  background-color: #FDE8DE;
  width: 100vw;
  padding: 5rem 0;
  margin-top: -5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

article.icing p.co-text {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  padding-left: 3rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 120%;
  display: block;
}

article.icing .callout-line {
  background-color: #FFA856;
  width: .7rem;
  height: 34rem;
  position: relative;
  left: 16rem;
  border-radius: 4rem;
}

/* CHAPTER 6*/
#chapter6 .chapter {
  width: 11%;
  padding-bottom: 0;
  position: relative;
  bottom: 0.5rem;
  left: 1rem;
}

article.final-p {
  margin: 0 auto;
}

article.final-p .content {
  width: 55%;
  margin-left: 8rem;
  margin-top: 10rem;
}

article.final-p h2 {
  font-size: 3rem;
}

article.final-p .text-box {
  font-size: 2rem;
}

div.desktop-images-final {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1700;
  background-image: url("../images/project/background-swoop.png");
  background-size: cover;
}

div.desktop-images-final .other-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

div.other-images img {
  width: 45%;
  margin: 1rem auto;
}

div.desktop-images-final div.mobile-desktop-images {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

div.mobile-desktop-images img.final-mobile-one {
  width: 90%;
  margin: 17rem auto 0 auto;
  padding-bottom: 0rem;
  display: block;
}

div.mobile-desktop-images img.final-mobile-two {
  width: 90%;
    margin: 0 auto;
  margin-top: 0rem;
  display: block;
}

div.mobile-images-final, article.final-p img.mobile-bg {
  display: none;
}

div.contact-btns2 {
  margin: 2rem auto 10rem auto;
  display: flex;
  flex-direction: row;
  /* padding-top: 0.5rem; */
  width: 83%;
}

div.contact-btns2 .primary-btn {
  margin-right: 2rem;
  margin-left: 2rem;
}

#chapter6 .concl {
  margin: 3rem 10rem 5rem 10rem;
}

div.key-learnings .concl-heading {
  font-size: 2.3rem;
    line-height: 100%;
  margin-top: 3rem;
}

div.key-learnings .concl-subhead {
  font-size: 2.3rem;
  line-height: 120%;
}

div.test {
  margin-top: 2rem;
}

div.key-learnings .text-box {
  margin-top: 0.5rem;
}

div.key-learnings .concl-sub {
  font-size: 2.3rem;
  line-height: 120%;
}

/* CONTACT TABLET*/

.contact-box {
  width: 100%;
  padding: 7.5rem 0 5rem 0;
}

div.contact-box img.right-side{
  width: 50%;
  display: block;
  position: relative;
  top: -6rem;
  left: 13rem;
  z-index: 1;
}

div.contact-copy  {
  text-align: left;
  position: relative;
  top: -12rem;
  z-index: 1000;
  width: 75%;
  margin: 0 auto;
}

.contact-title {
  font-size: 3.5rem;
  margin-left: 0rem;
  font-family: 'Brandon Text Bold';
  line-height: 100%;
  color: #FFA856;
}

h5.contact-text {
  font-size: 2.3rem;
  line-height: 120%;
  padding-bottom: 1rem;
  margin: 0 auto;
  color: #FFA856;
}

.contact-btns3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -9rem auto 0rem auto;
  width: 80%;
}

.get-in-touch, .download-resume {
  margin: 0 1rem 0 1rem;
}

div.return-top {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  top: 2rem;
  margin: 0;
  /* margin-bottom: -4rem; */
}

#footer-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 0;
}

ul.social-media {
  display: flex;
  align-items: center;
  padding: 0;
}

ul.social-media p {
  margin: 0 auto;
  flex-direction: row;
  font-size: 1.8rem;
  font-family: futura-bold;
}

.fab, .fas {
  font-size: 2rem;
  padding-right: .5rem;
  color: #001F40;
}

div.copyright p {
  text-align: center;
  align-items: center;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 0 0 1rem 0;
  width: 100%;
  display: block;
  font-family: "Brandon Text Medium";
}




}
